/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.virusContainer{
  background-color: #C2D9FF;
  opacity: 1;
  border-radius: 5px;
  padding: 15px;
}
.av-header{
  color:#190482
}
.virusSpan{
  color:red
}